body {
    background-image: url("/images/ao.gif");
    color: white;
    font-family: Arial;
    text-align: center;
}

.box {
    width: 1000px;
    height: auto;
    border: 5px solid;
    padding: auto;
    margin: auto;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.64);
}

::placeholder {

    color: rgb(255, 255, 255); 
    opacity: 1;
}

::placeholder:hover{
    opacity: 0.5; 
    transition: 0s; 
}

.button {
    background-color: rgba(102, 104, 111, 0.65);
    border: solid;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20%
    }

  
.button:hover {opacity: 1}

.input {
    color:rgb(39, 40, 48, 1);
    height: 0.75cm;
    text-align: center;
    width: 6cm; 
    border-color: rgba(133, 133, 133, 0.2);
    background-color: rgba(102, 104, 111);
    opacity: 0.5;
    }
    
.input:hover {

    opacity: 1; 
    transition: 0s; 
}
