body {
    background-image: url("/images/ao.gif");
    color: white;
    font-family: Arial;
    text-align: center;
}
 
.box {
    
    width: auto;
    max-width: 800px;
    height: auto;
    border: 5px solid;
    padding: auto;
    margin: auto;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.64);
    transition: all 0.5s;
}

.box:hover{
    max-width: 1000px;
}

::placeholder {

    color: rgb(255, 255, 255); 
    opacity: 1;
}

::placeholder:hover{
    opacity: 0.5; 
    transition: 0s; 
}



.button {
  background: #258cd1;
  position: relative;
  color: white;
  top: 100px;
  font-size: 23px;
  border-radius: 10px;
  border-width: 10px;
  border-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 15px 0px 0px rgba(102, 104, 111, 0.3), 0px 0px 20px 0px rgba(102, 104, 111, 0.3);
  transition: all 0.1s;
}

.button:hover {
    top: 108px;
    box-shadow: 0px 7px 0px 0px rgba(102, 104, 111, 0.7);
    background-color: rgb(66, 67, 71, 0.7);
}


.button {
  background-color: rgb(66, 67, 71, 0.3);
}


/*(alter)
.button {
    background-color: rgba(102, 104, 111, 0.65);
    border: solid;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20%
    }

  
.button:hover {opacity: 1} 
*/



.input {
    color:white;
    height: 40px;
    text-align: center;
    width: 500px; 
    border-color: rgba(133, 133, 133, 0.2);
    background-color: rgba(102, 104, 111);
    opacity: 0.5;
    border-radius: 10px;
    transition: all 0.5s;
    font-size: 20px;
    }
    
.input:hover {

    opacity: 1; 
    transition: 0s; 
    font-size: 23px;
} 
