# HTTP-Statuscode handling
ErrorDocument 404 /errors/client-errors-4xx/404.html 
ErrorDocument 401 /errors/client-errors-4xx/401.html

ErrorDocument 500 /errors/server-errors-5xx/500.html
ErrorDocument 503 /errors/server-errors-5xx/503.html

AddDefaultCharset UTF-8


# To enable Errorlogging, turn the parameters to on
php_flag log_errors off 
php_value error_reporting -1
php_value error_log /var/www/ducite/ducite/logs/error.log

php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off